<div class="container welcome">
  <div class="row tiki">
    <div class="span12"><img src="images/tiki-bg.png" usemap="#click-map">
      <map name="click-map">
        <area id="insta" shape="rect" coords="51,547,167,576" alt="@jahjahjitsu" title="@jahjahjitsu" target="_blank" href="http://instagram.com/jahjahjitsu">
        <area id="fb" shape="rect" coords="51,577,156,595" alt="" title="" target="_blank" href="https://www.facebook.com/pages/CkaweekS/547103348655515?ref=hl">
        <area id="twitter" shape="rect" coords="51,599,144,620" alt="@jahjahjitsu" title="" target="_blank" href="https://twitter.com/jahjahjitsu">
        <area id="blog" shape="rect" coords="53,621,108,641" alt="" title="" target="_blank" href="http://jahjahjitsu.blogspot.com/">
        <area id="contact" shape="rect" coords="53,645,142,665" alt="" title="" target="_blank" href="mailto:ckaweeks@gmail.com">
      </map>
    </div>
  </div>
</div>