
<div class="container welcome">
  <div class="row bottom print">
    <div class="span12"><img src="images/print-background.png">
    </div>
  </div>
  <div class="row inside auryte">
    <div class="span12"><img src="images/print-auryte.png">
    </div>
  </div>
  <div class="row inside honah">
    <div class="span12"><img src="images/print-honah.png">
    </div>
  </div>
  <div class="row inside posse">
    <div class="span12"><img src="images/print-posse.png">
    </div>
  </div>
  <div class="row inside chee">
    <div class="span12"><img src="images/print-chee.png">
    </div>
  </div>
  <div class="row inside killaz">
    <div class="span12"><img src="images/print-killaz.png">
    </div>
  </div>
  <div class="row kaweeks">
    <div class="span12"><img src="images/print-kaweeks.png" usemap="#kaweeks-map">
      <map name="kaweeks-map">
        <area shape="rect" coords="656, 505, 953, 714" ng-mouseleave="out('kaweeks')"/>
      </map>
    </div>
  </div>
  <div class="row mahalo">
    <div class="span12"><img src="images/print-mahalo.png" usemap="mahalo-map">
      <map name="mahalo-map">
        <area shape="rect" coords="272, 10, 694, 175" ng-mouseleave="out('mahalo')"/>
      </map>
    </div>
  </div>
  <div class="row blank">
    <div class="span12"><img src="images/print-blank.png" usemap="#hover-map">
      <map name="hover-map">
        <area shape="rect" coords="379,28,597,149" ng-mouseenter="on('mahalo')"/>
        <area shape="rect" coords="740,610,915,690" ng-mouseenter="on('kaweeks')"/>
        <area shape="poly" coords="100,383,153,378,188,377,223,377,255,398,262,416,266,437,266,457,266,485,270,512,247,542,199,578,127,591,68,590,66,531,41,481,46,428," ng-mouseenter="on('honah')" ng-mouseleave="out('honah')"/>
        <area shape="poly" coords="268,431,286,414,319,411,342,410,372,408,389,410,412,445,413,480,386,512,315,521,272,502,266,474," ng-mouseenter="on('killaz')" ng-mouseleave="out('killaz')"/>
        <area shape="poly" coords="255,182,288,182,355,184,366,214,367,267,385,313,301,307,250,266,247,222,"  ng-mouseenter="on('auryte')" ng-mouseleave="out('auryte')"/>
        <area shape="poly" coords="521,288,543,254,543,234,578,228,595,258,647,252,653,276,662,306,661,340,690,370,688,394,630,377,575,380,543,388,512,361,512,310," ng-mouseenter="on('chee')" ng-mouseleave="out('chee')"/>
        <area shape="poly" coords="719,422,779,417,826,422,872,438,888,477,905,508,879,547,822,558,818,598,770,588,725,554,699,524,689,473," ng-mouseenter="on('posse')" ng-mouseleave="out('posse')"/>
        <area shape="rect" coords="50, 613, 112, 684" href="http://jahjahjitsu.blogspot.com"/>
      </map>
    </div>
  </div>
  <div class="row paypal">
    <div class="offset5 span2">
      <img class="sold-out" src="images/sold-out.png">
    </div>
  </div>
</div>
